<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
    <script defer src="js/main.js"></script>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="#" class="logo nav-link"><img src="/img/coffee.jpg" width=60px alt=""></a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="#" class="nav-menu-link nav-link">Menu</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#" class="nav-menu-link nav-link">Videos</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#" class="nav-menu-link nav-link">Tienda</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#" class="nav-menu-link nav-link nav-menu-link_active">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <h1>Cafecito de especialidad</h1>

    <div id="app">
        <!-- <p>{{datos}}</p> -->

        <div v-if="error===true">se produjo un error, intente mas tarde</div>
        <div v-else class="d-flex">
            <div v-for="data in datos" class="tarjeta">
                <img :src="data.image" width="300px" height="500px" :alt="data.title">

                <p>{{data.title}}</p>
                <p>{{data.ingredients}}</p>
            </div>
        </div>

    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>

</body>

</html>